<div class="modal inmodal" id="add_function" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add Function</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="function_form">
                    <input type="hidden" name="id" id="function_id">
                    <input type="hidden" name="project_id" id="function_project_id">
                    <input type="hidden" name="skipping_link" value="{:U('/Project/detail')}">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Module</label>
                        <div class="col-sm-8">
                            <select class="form-control m-b" name="module_id" id="function_module_id">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Controller</label>
                        <div class="col-sm-8">
                            <select class="form-control m-b" name="controller_id" id="function_controller_id">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Type</label>
                        <div class="col-sm-8">
                            <button class="btn btn-info" type="button" id="function_type_public" onclick="chooseFunctionType(1,'function_type_public')">Public</button>
                            <button class="btn btn-default" type="button" id="function_type_protected" onclick="chooseFunctionType(2,'function_type_protected')">Protected</button>
                            <button class="btn btn-default" type="button" id="function_type_private" onclick="chooseFunctionType(3,'function_type_private')">Private</button>
                            <input type="hidden" name="type" id="function_type" value="1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-8">
                            <input class="form-control m-b" name="name" id="function_name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">List Order</label>
                        <div class="col-sm-8">
                            <input class="form-control m-b" name="list_order" id="function_list_order"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-8">
                            <input class="form-control m-b" name="description" id="function_description"/>
                        </div>
                    </div>
                    <input type="reset" id="function_reset" style="display: none">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="function_save" onclick="save_function()">Save</button>
            </div>
        </div>
    </div>
</div>
