<extend name="Common/index"/>

<block name="header">
    <link href="/Public/css/plugins/jsTree/style.min.css" rel="stylesheet">
</block>

<block name="action-area">
    <div class="col-sm-8">
        <div class="title-action">
            <a href="#" class="btn btn-default" id="project_name"></a>
            <button type="button" class="btn btn-default" onclick="edit()"><span id="edit_area">undefined</span></button>
            <input type="hidden" id="project_id" value="{$User.project_id}">
            <input type="hidden" id="edit_id">
            <input type="hidden" id="edit_modal">
        </div>
    </div>
</block>

<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Project </h5>
                        <div class="ibox-tools">
                            <a class="add-link" data-toggle="modal" data-target="#add_module" onclick="clean.reset_form('#module_reset','module_save')">
                                <i class="fa fa-folder"></i>
                            </a>
                            <a class="add-link" title="添加 folder" data-toggle="modal" data-target="#add_folder" onclick="clean.reset_form('#folder_reset','folder_save')">
                                <i class="fa fa-folder-o"></i>
                            </a>
                            <a class="add-link" data-toggle="modal" data-target="#add_controller" onclick="clean.reset_form('#controller_reset','controller_save')">
                                <i class="fa fa-copyright"></i>
                            </a>
                            <a class="add-link" title="添加 function" data-toggle="modal" data-target="#add_function" onclick="clean.reset_form('#function_reset','function_save')">
                                <i class="fa fa-terminal"></i>
                            </a>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div id="tree">
                            <ul>
                                <li class="jstree-open">App
                                    <ul id="app" class="rule">
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Function Detail</h5>
                        <div class="ibox-tools">
                            <a class="add-link" onclick="show_code()">
                                <i class="fa fa-search" style="color: #1ab394"></i>
                            </a>
                            <a class="add-link" data-target="#add_link" data-toggle="modal">
                                <i class="fa fa-link" style="color: #1ab394"></i>
                            </a>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group rule-box">
                            <label class="col-sm-3 control-label">Path</label>
                            <span id="path"></span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group rule-box">
                            <label class="col-sm-3 control-label">Description</label>
                            <span id="description"></span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group rule-box">
                            <label class="col-sm-3 control-label">Used</label>
                            <span id="used_path"></span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group rule-box">
                            <label class="col-sm-3 control-label">Function</label>
                            <span id="function_path"></span>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group rule-box">
                            <label class="col-sm-3 control-label">JavaScript</label>
                            <span id="javascript_path"></span>
                        </div>
                    </div>
                    <!--菜单id-->
                </div>
            </div>
        </div>
    </div>

    <include file="Module/add"/>
    <include file="Folder/add"/>
    <include file="Controller/add"/>
    <include file="Function/add"/>
    <include file="Function/link"/>
    <!--隐藏域-->
    <input type="hidden" id="save_btn" value="module_save">
</block>


<block name="footer-end">
    <script src="/Public/js/plugins/jsTree/jstree.min.js"></script>
    <script src="/Public/js/Project/project.js"></script>
</block>

<block name="script">

    <style>
        .jstree-open > .jstree-anchor > .fa-folder:before {
            content: "\f07c";
        }

        .jstree-default .jstree-icon.none {
            width: 0;
        }
    </style>
</block>