<extend name="Common/index"/>

<block name="action-area">
    <div class="col-sm-8">
        <div class="title-action">
            <input type="text" id="token" style="border: none">
            <a data-target="#add" data-toggle="modal" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; 项目</a>
        </div>
    </div>
</block>

<block name="content">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row" id="project">
            <foreach name="data" item="v">

            </foreach>
        </div>
    </div>
    <div class="modal inmodal" id="add" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="hidden" name="head_img" id="head_img" value="/Public/head_img/default.png">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-9">
                                <input class="form-control m-b" name="name" id="name"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
    <script>

        $(function () {
            getProject();
        });

        function getProject() {
            var url = config.base_url + '/Project/index';
            var project = '';
            var html = '';
            $.post(url, {}, function (res) {
                project = res.list.rows;
                $.each(project, function (i, v) {
                    html += '<div class="col-lg-4">' +
                        '<div class="contact-box">' +
                        '<a href="#" onclick="view(' + v.id + ')">' +
                        '<div class="col-sm-4">' +
                        '<div class="text-center">' +
                        '<img alt="image" class="img-circle m-t-xs img-responsive" src="' + v.head_img + '">' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-sm-8">' +
                        '<h3><strong>' + v.name + '</strong>' +
                        '<small>&nbsp;&nbsp;' + v.update_time + '</small>' +
                        '</h3>' +
                        '<p><i class="fa fa-yelp"></i> ' + v.function + '</p>' +
                        '<p><i class="fa fa-bug"></i> ' + v.bug + '</p>' +
                        '<p><i class="fa fa-users"></i> ' + v.develop_name + '</p>' +
                        '</div>' +
                        '<div class="clearfix"></div>' +
                        '</a>' +
                        '</div>' +
                        '</div>'
                });
                $('#project').append(html);
            }, "JSON")
        }

        function view(id) {
            var url = config.base_url + '/Project/detail';
            $.post(url, {id : id}, function (res) {
                if (res.code == 200) {
                    window.location.href = config.html_url + '/Project/detail';
                }else {
                    message.message(res);
                }
            }, "JSON")
        }
        function Save() {
            var name = $('#name').val();
            if (!name)return message.message({code : 400, message : 'Name Can not be none !'});

            var data = $("form").serialize();
            var url = config.base_url + '/Project/Add';
            $('#add').modal('toggle');
            submit.submit(url, data);
        }
    </script>
</block>
